.container {
    border: 1px solid #000;
    width: 800px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.container > .image-block {
    width: 200px;
    height: 100px;
    left: -200px;
    background: red;
    position: absolute;
}