.container {
    border: 1px solid #000;
    width: 800px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.image-blocks {
    position: absolute;
    left: -100%;
}
.image-blocks > .image-block {
    width: 200px;
    height: 100px;
    float: left;
}